/*
!.gitignore
!/web/
/web/*
!/web/wp-content/
/web/wp-content/*
!/web/wp-content/plugins/
/web/wp-content/plugins/*
!/web/wp-content/plugins/bricks*
/web/wp-content/plugins/bricks*/gulp/node_modules
.DS_Store